<h2>Create your accout:</h2>
<form method="post" action="/users/register">
    <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control" id="username" placeholder="Name..." name="username">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email..." name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Repeat Password:</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat Password..." name="confirmPassword">
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="register">Register</button>
    </div>
</form>