<h1><strong>Create Album</strong></h1>
<hr />
<form method="post", action="/album/create">
    <div>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Name" name="name" required>
    </div>
    <div>
        <label for="cover"><b>Cover</b></label>
        <input type="text" placeholder="Cover" name="cover" required>
    </div>
    <button type="submit">Create</button>
</form>
<hr />
<a href="/album/all">Back To All</a>
<hr />
<p>CopyRight &copy; Sanity Design Studios, All rights reserved.</p>