<div class="form-row">
    <div class="col-md-5 mb-3 text-center">
        <div class="md-margin-top"><img src="@Model.Cover" width="250" height="250"></div>
        <p class="text-center"><b>Album Name: @Model.Name</b></p>
        {var albumPrice = $"{Model.PriceAfterDiscount:f2}";}
        <p class="text-center"><b>Album Price: $@albumPrice</b></p>
        <div class="container container-botom-margin">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/track/create?albumId=@Model.Id" class="btn btn-success">Create Track</a>
                </div>
                <div class="col-sm-6">
                    <a href="/album/all" class="btn btn-success">Back To All</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 mb-3"></div>
    <div class="col-md-6 mb-3">
        <h2><b>Tracks</b></h2>
        <ul>
            @var count = 1;
            @foreach (var track in Model.Tracks)
            {
            <li>
                <b>@count</b>.
                <a href="/track/details?trackId=@track.Id&albumId=@Model.Id">@track.Name</a>
            </li>
            {count++;}
            }
        </ul>
        @if(Model.Tracks.Count == 0)
        {
            <p>There are currently no tracks.</p>
        }
    </div>
</div>