<div class="nav-register">
    <form method="post" action="/Flights/Search">
        <div class="form-group">
            <label for="destination">Destination:</label>
            <input type="text" id="destination" placeholder="Destination" name="destination">
        </div>
        <div class="form-group">
            <label for="origin">Origin:</label>
            <input type="text" id="origin" name="origin" placeholder="Origin">
        </div>
        <div class="form-group">
            <label for="date">Departure:</label>
            <input type="date" id="date" name="date">
        </div>
        <div class="button-holder d-flex justify-content-center">
            <input type="submit" class="search" value="Search">
        </div>
        @if(User.Role == "Admin")
        {
        <a href="/Flights/Add" class="add-flight">Add Flight +</a>
        }
    </form>
</div>

<div>
    <section class="added-flights">

        @for(int i = 0; i < Model.ToArray().Count(); i++)
        {
        @if(i > 0 && i % 3 == 0)
        {
    </section><section class="added-flights">
        }
        <a href="/Flights/Details?id=@Model[i].Id" class="added-flight">
            <img src="@Model[i].Image" alt="" class="picture-added-flight">
            <h3>@Model[i].Destination</h3>
            <span>from @Model[i].Origin</span><span>@Model[i].Date</span>
        </a>
        }
        @if(Model.ToArray().Count() == 0)
        {
            <h2>No any flights Fount</h2>
        }
    </section>
</div>