hr {
    border-color: #228B22;
    border-top-width: 2px;
    padding-bottom: 4px;
}

.hr-white {
    border-color: #ffffff;
}

.form-title {
    font-size:xx-large; 
    color:#228B22; 
    text-align:center;
}

.container-botom-margin {
    margin-bottom: 30px
}

.nav-links-mr-pd{
    padding-left: 0px;
    margin-left: 0px;
}

footer{
    text-align: center
}

.md-margin-top {
    margin-top: 15px;
}

.text-bold-center {
    text-align: center;
    font-weight: bold;
}