<form method="post" , action="/account/login">
    <h1>Login</h1>
    <hr>
    <label for="email"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" required>
    <br> <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button type="submit" class="registerbtn">Login</button>
    <hr>
</form>
    Don't have an account?
<form method="get" action="/account/register">
    <input type="submit" value="Register" />
</form>