<hr class="my-2" />
<div class="legend text-center">
    <h2>All Kittens</h2>
</div>
<hr class="my-2">
<div class="container">

    <div class="row justify-content-around">
        @for(var i = 0; i < Model.Count(); i++)
        {
        <div class="col-lg-4 mt-3 text-center">
            <img src="@Model[i].Url" width="300" />
            {string breed = @Model[i].Breed.ToString().Replace("_", " "); }
            <p>Name: @Model[i].Name<br />Age: @Model[i].Age<br /> Breed: @breed</p>
        </div>
        }
    </div>
</div>