<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventures</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg eventures-color">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Eventures</a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item left-side">
                        <a class="nav-link nav-link-white" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <partial name="_NavbarAuthenticatedUserPartial" />
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            <div class="container eventures-color">
                <div class="text-white p-2 text-center text-dark">
                    &copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>