<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    @if(User.IsLoggedIn)
    {
    <nav>
        <div class="left-container">
            <ul>
                <li><a href="/Home/Flights">Flights</a></li>
                <li><a href="/Tickets/All">My Tickets</a></li>
            </ul>
        </div>
        <div class="right-container">
            <span>Welcome, @User.Username |</span>
            <a href="/Users/Logout" class="log-out">Logout</a>
            <a href="/Home/Cart"><img src="/img/cart.png" alt="" class="cart"></a>
        </div>
    </nav>
    }
    @else
    {
    <nav>
        <div class="navigation">
            <ul>
                <li><a href="/Home/Flights">Flights</a></li>
                <li><a href="/Users/Login">Login</a></li>
                <li><a href="/Users/Register">Register</a></li>
            </ul>
        </div>
    </nav>
    }
    <main>
        @RenderBody()
        <footer>SoftUni Airlines</footer>
    </main>
</body>
</html>