<div class="text-center mb-3">
    <h2>@Model.Title</h2>
</div>

<div class="row">
    <div class="col-md-6 bg-mishmash mt-3 text-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model.YoutubeId"></iframe>
        </div>
    </div>
    <div class="col-md-6 bg-mishmash mt-3 text-center">

        <div class="text-center text-info">
            <p><h2>@Model.Author</h2></p>
            <p><h6>@Model.Views Views</h6></p>
        </div>
        <hr class="my-3" />
        <div class="text-center mt-2">
            <p>@Model.Description</p>
        </div>
    </div>
</div>