<div class="text-center text-info"><h2>Welcome, @user.Username</h2></div>
    <hr class="my-3" />

    <div class="row justify-content-around">
        <div class="col-md-9">
            <div class="row justify-content-around">
                @for(var i = 0; i < Model.Count(); i++)
                {
                @if(i % 3 == 0 && i != 0)
                {
                <div class="w-100"></div>
                }
                <div class="col-md-4 mt-3 text-center">
                    <a href="/Tube/Details?id=@Model[i].Id">
                        <img src="https://img.youtube.com/vi/@Model[i].YoutubeId/mqdefault.jpg" alt="tube img" />
                        <p>@Model[i].Author<br />@Model[i].Title</p>
                    </a>
                </div>
                    @if(i == Model.Count() - 1)
                    {
                    {int rowConteiners = Model.Count() % 3;}
                    {rowConteiners = rowConteiners == 0 ? 3 : rowConteiners;}
                    {int neededConteiners = 3 - rowConteiners;}

                    @for(var j = 0; j < neededConteiners; j++)
                    {
                    <div class="col-md-4"></div>
                    }
                    }
                    }
                </div>
        </div>
    </div>
        @if(Model.Count() == 0)
        {
        <h3 class="text-center">No any Tubes!</h3>
        }
