<div class="text-center text-info">
    <p><h3>&commat;@Model.Username</h3></p>
    <p><h3>@Model.Email</h3></p>
</div>

<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-5">Title</th>
            <th class="col-md-3">Author</th>
            <th class="col-md-3">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Tubes)
        {
        <tr class="row">
            <th class="col-md-1">@item.Id</th>
            <td class="col-md-5">@item.Title</td>
            <td class="col-md-3">@item.Author</td>
            <td class="col-md-3">
                    <a href="/Tube/Details?id=@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>