<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <H1>By The Cake</H1>
    <H2>Enjoy our awesome cakes</H2>
    <hr />
    <ul>
        <li>
            <a href="/">Home</a>
            <ol>
                <li><a href="url">Our Stores</a></li>
                <li><a href="url">Our Cakes</a></li>
            </ol>
        </li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/addcake">Add Cake</a></li>
        <li><a href="/search">Browse Cakes</a></li>
        <li><a href="/aboutus">About Us</a></li>
    </ul>
    <hr />
    <ul>
        <li><a href="/account/register">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/account/logout">Logout</a></li>
    </ul>
    <hr />
</body>
</html>