<form method="post", action="/home/search">
    <div>
        <label for="cakeName"><b>Cake Name</b></label>
        <input type="text" name="search" style="margin-bottom:10px" required>
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{searchConrent}}
    </tbody>
</table>