<div class="container w-50">
    <p style="font-size:xx-large; color:#228B22; text-align:center">Login</p>  <!--TODO-->
    <hr class="my-1" style="border-color: #228B22; padding-bottom: 4px; border-top-width: 2px;">
    <form method="post" , action="/user/login">
        <div class="form-group">
            <label for="exampleInputEmail1">Username / Email address</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username / Email address">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="text-center"><button type="submit" class="btn btn-success">Login</button></div>
    </form>
</div>