<form method="post" action="/user/register">
    <h1>Register</h1>
    <div>
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" required>
    </div>
    <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>
    <div>
        <label for="psw-repeat"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirm-password" required>
    </div>
    <div>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Email" name="email" required>
    </div>

    <button type="submit" class="registerbtn">Register</button>
</form>
<hr />
<p>CopyRight &copy; Sanity Design Studios, All rights reserved.</p>