<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <h1><strong>IRunes</strong></h1>
    <ul>
        <li><a href="/home/index">Home</a></li>
        <li><a href="/album/all">Albums</a></li>
        <li><a href="/user/logout">Logout</a></li>
    </ul>
    <hr />
        {{trackData}}
    <hr />
    <a href="/album/details?id={{albumId}}">Back To Album</a>
    <hr />
    <p>CopyRight &copy; Sanity Design Studios, All rights reserved.</p>
</body>
</html>