<div class="container w-50 container-botom-margin">
    <div class="text-center">
        <b>Track Name: @Model.TrackName</b><br />
        <b>Track Price: $@Model.TrackPrice</b><br />
        <hr class="my-2">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="@Model.TrackLink"></iframe><br />
        </div>
        <hr class="my-2">
        <a href="/album/details?albumId=@Model.AlbumId" class="btn btn-success">Back To Album</a>
    </div>
</div>