<h3>Your Flights</h3>
@foreach (var ticket in Model.ToArray())
{
    <section class="purchased-ticket">
        <div class="purchased-left">
            <img src="@ticket.Image" alt="">
        </div>
        <div class="purchased-right">
            <div>
                <h3>@ticket.Destination</h3><span>@ticket.Date</span>
            </div>
            <div>
                from @ticket.Origin <span>@ticket.Time</span>
            </div>
            <p>1 x $@ticket.Price(@ticket.Class) </p>
        </div>
    </section>
}